/*global styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo-img img {
  width: 30px;
  height: 30px;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  height: 10vh;
}

.contacts {
  display: flex;
  justify-content: space-between;
  background-color: rgba(94, 94, 94, 0.8);
  height: 4vh;
  position: sticky;
  top: 0;
  border: 1px solid black;
}

.phone,
.email {
  position: relative;
  color: rgb(0, 0, 0);
  letter-spacing: 0.25px;
  line-height: 25px;
  padding-left: 25px;
}
.phone:before {
  position: absolute;
  left: 5px;
  font-family: "icomoon";
  content: "\f095";
  color: #e41f29;
  font-size: 30px;
}

.email:before {
  position: absolute;
  left: -8px;
  font-family: "icomoon";
  content: "\f003";
  color: #e41f29;
  font-size: 30px;
}

.nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background: rgb(221, 221, 221);
}

.nav-menu {
  display: flex;
  justify-content: space-around;
}

.menu-link {
  margin: 0 25px;
}

.main-slider {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  margin-top: 2px;
  height: 70vh;
}

.slider-one,
.slider-three,
.slider-two {
  width: 33.33%;
  height: 100%;
  border: 1px solid #000;
  margin: 2px;
}

.slider-one {
  background-color: rgb(132, 230, 230);
}
.slider-two {
  background-color: rgb(185, 72, 72);
}

.slider-three {
  background-color: rgb(250, 109, 250);
}

.news {
  display: flex;
  width: 100%;
  height: 25vh;
  border: 1px solid #000;
  margin-top: 2px;
}

.info-slider {
  width: 60%;
  border: 1px solid red;
  background-color: rgb(231, 136, 136);
}

.info-text {
  margin-left: 1px;
  width: 40%;
  border: 1px solid seagreen;
  background-color: rgb(177, 120, 230);
}

.info {
  width: 100%;
  text-align: center;
  height: 25vh;
  border: 1px solid #000;
  margin-top: 1px;
  background-color: coral;
}

.social {
  border: 1px solid #000;
  background-color: rgba(169, 172, 27, 0.493);
}

.footer {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  height: 10vh;
  margin-top: 1px;
  background-color: dimgrey;
}
